<?xml version="1.0" encoding="utf-8" ?>
<!--Available criteria are {younger, between, older}, item values are {0 to 100}.
    Attention! Please consider the groups are no overlapping each other -->
<GroupCriteria>
	<Group id="2">
		<Criteria>between</Criteria>
			<Item>41</Item>
			<Item>50</Item>
	</Group>
	<Group id="4">
		<Criteria>older</Criteria>
			<Item>50</Item>
	</Group>
	<Group id="5">
		<Criteria>between</Criteria>
			<Item>31</Item>
			<Item>40</Item>
	</Group>
</GroupCriteria>